:root {
  --clr-primary: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
  --clr-primary-red: hsl(0, 100%, 66%);

  --clr-neutral-white: hsl(0, 0%, 100%);
  --clr-neutral-100: hsl(270, 3%, 87%);
  --clr-neutral-400: hsl(279, 6%, 55%);
  --clr-neutral-900: hsl(278, 68%, 11%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

html,
body {
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  max-width: 1440px;
}

.container > .main-container {
  flex: 1 1 35%;
}

.container > .card-form-container {
  flex: 1 1 65%;
}

.main-container {
  background-image: url("images/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

img.card {
  width: inherit;
}

.front-card {
  position: absolute;
  top: 30vmax;
  left: 21vmax;
  transform: translate(-50%, -50%);
  z-index: 9;
  width: 37vmax;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  border-radius: 8px;
}

.back-card {
  position: absolute;
  top: 19vmax;
  left: 29vmax;
  transform: translate(-50%, -50%);
  width: 37vmax;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  border-radius: 8px;
}

img.icon {
  position: absolute;
  top: 22%;
  left: 15%;
  transform: translate(-50%, -50%);
  z-index: 19;
  width: 8vh;
}

.form-container .flexbox {
  display: flex;
  gap: 15px;
  justify-content: flex-start;
}

form {
  width: 320px;
  display: block;
  margin: 0 auto;
  padding-top: 45px;
}

input.card-holder-input,
.card-number-input {
  width: -webkit-fill-available;
}

input.month-input {
  width: 80px;
}

input.year-input {
  width: 80px;
}

input.cvc-input {
  width: 140px;
}

input::placeholder {
  color: var(--clr-neutral-100);
}

button {
  padding: 15px;
  width: -webkit-fill-available;
  margin-top: 25px;
  border-radius: 6px;
  border: var(--clr-neutral-white);
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-white);
}

button:hover {
  background-color: #fff;
  background-image: linear-gradient(
    to right,
    hsl(249, 99%, 64%),
    hsl(278, 94%, 30%)
  );
  outline: none;
}

.input-box {
  height: 70px;
  margin-top: 15px;
}

input {
  margin-top: 7px;
  height: 45px;
  border: 2px solid var(--clr-neutral-100);
  border-radius: 6px;
  padding: 15px;
}

input:focus {
  padding: 8px;
  border: double 2px transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 7px;
  outline: none;
}

label {
  margin-bottom: 8px;
  font-size: small;
  font-weight: bold;
  letter-spacing: 2px;
  color: var(--clr-neutral-900);
  text-transform: uppercase;
}

.card-number-display,
.card-holder-display,
.exp-display,
.cvc-display,
.card-month-display,
.card-year-display,
.card-slash-display {
  position: absolute;
  color: var(--clr-neutral-100);
}

.card-number-display {
  letter-spacing: 1px;
  top: 10vmax;
  left: 3vmax;
  font-size: 17px;
}

.card-holder-display {
  text-transform: uppercase;
  top: 16vmax;
  left: 3vmax;
  font-size: 10px;
}

.card-month-display {
  top: 16vmax;
  left: 29vmax;
  font-size: 10px;
}

.card-year-display {
  top: 16vmax;
  left: 31.3vmax;
  font-size: 10px;
}

.card-slash-display {
  top: 16vmax;
  left: 30.7vmax;
  font-size: 10px;
}

.cvc-display {
  top: 9vmax;
  left: 29vmax;
  font-size: 10px;
}

/* THANK YOU SECTION */
.thank-you {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 20px;
  font-family: "Space Grotesk", sans-serif;
}
.thank-you img {
  width: 70px;
}
.thank-you h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 500;
  font-size: xx-large;
  margin-top: 20px;
  text-align: center;
}
.thank-you p {
  font-weight: 500;
  color: var(--clr-neutral-400);
}
button#continue {
  margin-top: 25px;
  width: 320px;
}

.hidden {
  display: none;
}

p.error {
  color: var(--clr-primary-red);
  font-size: small;
}

@media screen and (min-width: 600px) {
  .container {
    flex-direction: inherit;
  }

  .form-container {
    width: 170px;
    display: block;
    margin: 0 auto;
    padding-top: 150px;
  }

  .front-card {
    top: 35%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 30vw;
  }

  .back-card {
    top: 41vmax;
    left: 35vmax;
    transform: translate(-50%, -50%);
    width: 30vw;
  }

  .card-number-display {
    top: 9vmax;
    left: 2vmax;
    font-size: 17px;
    letter-spacing: 4px;
  }

  .card-holder-display {
    top: 13vmax;
    left: 2vmax;
    font-size: 13px;
  }

  .card-month-display {
    top: 13vmax;
    left: 23vmax;
    font-size: 13px;
  }

  .card-year-display {
    top: 13vmax;
    left: 25.3vmax;
    font-size: 13px;
  }

  .card-slash-display {
    top: 13vmax;
    left: 24.7vmax;
    font-size: 13px;
  }

  .cvc-display {
    top: 7vmax;
    left: 24vmax;
    font-size: 13px;
  }

  .thank-you {
    padding-top: 0px;
    width: 320px;
  }
}

@media screen and (min-width: 1280px) {
  .card-number-display {
    font-size: 22px;
  }
}

@media screen and (min-width: 1366px) {
  .card-number-display {
    font-size: 28px;
    letter-spacing: 5px;
  }

  .back-card {
    top: 35vmax;
  }

  .form-container {
    padding-top: 215px;
  }

  .cvc-display {
    top: 7.5vmax;
  }
}
