:root {
  --clr-primary: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
  --clr-primary-red: hsl(0, 100%, 66%);

  --clr-neutral-white: hsl(0, 0%, 100%);
  --clr-neutral-100: hsl(270, 3%, 87%);
  --clr-neutral-400: hsl(279, 6%, 55%);
  --clr-neutral-900: hsl(278, 68%, 11%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

html,
body {
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
}

.container > .main-container {
  flex: 1 1 35%;
}

.container > .card-form-container {
  flex: 1 1 65%;
}

.main-container {
  background-image: url("images/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

img.card {
  width: inherit;
}

.front-card {
  position: absolute;
  top: 30vmax;
  left: 21vmax;
  transform: translate(-50%, -50%);
  z-index: 9;
  width: 37vmax;
}

.back-card {
  position: absolute;
  top: 19vmax;
  left: 29vmax;
  transform: translate(-50%, -50%);
  width: 37vmax;
}

img.icon {
  position: absolute;
  top: 22%;
  left: 15%;
  transform: translate(-50%, -50%);
  z-index: 19;
  width: 8vh;
}

.form-container {
  padding: 60px 20px 20px 20px;
}

.form-container .flexbox {
  display: flex;
  gap: 15px;
  justify-content: flex-start;
}

form {
  padding: 60px 20px 20px 20px;
  display: inline-block;
  margin: 0 auto;
  width: 320px;
}

input.card-holder-input,
.card-number-input {
  width: -webkit-fill-available;
}

input.month-input {
  width: 80px;
}

input.year-input {
  width: 80px;
}

input.cvc-input {
  width: 100px;
}

span.cvc-input {
  padding-right: 5px;
}

p {
  text-transform: uppercase;
}

.card-number-display,
.card-holder-display,
.exp-display,
.cvc-display {
  position: absolute;
  color: var(--clr-neutral-100);
}

.card-number-display {
  top: 10vmax;
  left: 3vmax;
  font-size: 17px;
}

.card-holder-display {
  top: 16vmax;
  left: 3vmax;
  font-size: 10px;
}

.exp-display {
  top: 16vmax;
  left: 30vmax;
  font-size: 10px;
}

.cvc-display {
  top: 9vmax;
  left: 29vmax;
  font-size: 10px;
}

@media screen and (min-width: 600px) {
  .container {
    flex-direction: inherit;
  }

  .front-card {
    top: 35%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 30vw;
  }

  .back-card {
    top: 67%;
    left: 105%;
    transform: translate(-50%, -50%);
    width: 30vw;
  }

  .card-number-display {
    top: 9vmax;
    left: 2vmax;
    font-size: 17px;
    letter-spacing: 4px;
  }

  .card-holder-display {
    top: 13vmax;
    left: 2vmax;
    font-size: 13px;
  }

  .exp-display {
    top: 13vmax;
    left: 25vmax;
    font-size: 13px;
  }

  .cvc-display {
    top: 7vmax;
    left: 24vmax;
    font-size: 13px;
  }
}

@media screen and (min-width: 1280px) {
  .card-number-display {
    font-size: 22px;
  }
}

@media screen and (min-width: 1366px) {
  .card-number-display {
    font-size: 28px;
    letter-spacing: 5px;
  }
}
